@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #002635;
  color: #ffffff;
}

// css footer
.footer {
  width: 1440px;
  height: 380px;
  background-color: #959ddf;

  h4,
  li,
  a {
    line-height: 1.25;
    color: #ffffff;
  }

  h4 {
    font-weight: bold;
  }
  li {
    font-weight: normal;
    margin: 15px;
  }

  hr {
    width: 100%;
  }

  .copyright {
    color: #ffffff;
    line-height: 1.25;
  }
}

#pokemon-container {
  height: auto !important;
  height: 100%;
  min-height: 100%;

  .pokemon-content {
    .items-container {
      min-height: 600px;

      .button.load-more {
        min-width: 150px;
      }

      .scrolled {
        padding: 15px;
        overflow-y: scroll;
        max-height: 650px;
        border: solid 3px #23456c;
        border-radius: 15px;

        .list-cont {
          position: relative;

          .overlay-loading {
            position: absolute;
            background: yellow;
            z-index: 3;
            width: 100%;
            height: 100%;
            display: flex;
            padding-top: 285px;
            justify-content: center;
            background: rgba(43, 106, 176, 0.5);
          }
        }
      }

      .card.pokemon-item {
        border-radius: 7px;
        display: black;
        overflow: hidden;
        cursor: pointer;
        background: rgb(42, 75, 112);
        background: radial-gradient(
          circle,
          rgba(42, 75, 112, 1) 0%,
          rgba(43, 106, 176, 1) 50%,
          rgba(42, 75, 112, 1) 100%
        );
        color: yellow;
        opacity: 0.65;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
          box-shadow: 0 5px 8px rgba(164, 179, 255, 0.25), 0 0 0 1px green;
          background: radial-gradient(circle, rgba(43, 106, 176, 1) 50%, rgba(42, 75, 112, 1) 100%);
        }

        .card-content {
          padding: 0.5em;
        }
      }
    }

    .detail-cont {
      position: relative;

      #slideshow {
        margin: 0px auto;
        position: relative;
        width: 100%;
        height: 200px;
        background: transparent;

        img {
          width: 200px;
        }

        ul,
        li {
          margin: 0;
          padding: 0;
        }

        ul {
          list-style: none;
        }

        li {
          float: left;
          overflow: hidden;
          margin: 0 20px 0 0;
        }

        #slider-0,
        #slider-1,
        #slider-2,
        #slider-3,
        #slider-4,
        #slider-5,
        #slider-6,
        #slider-7 {
          color: #999;
          font-size: 20px;
          font-weight: bold;
          position: absolute;
          margin-top: 220px;
          text-decoration: none;
          line-height: 0.5;

          &:hover {
            color: orange;
          }
        }

        #slider-0 {
          margin-left: 10px;
        }
        #slider-1 {
          margin-left: 40px;
        }
        #slider-2 {
          margin-left: 70px;
        }
        #slider-3 {
          margin-left: 100px;
        }
        #slider-4 {
          margin-left: 130px;
        }
        #slider-5 {
          margin-left: 160px;
        }
        #slider-6 {
          margin-left: 190px;
        }
        #slider-7 {
          margin-left: 220px;
        }

        li p {
          background: rgb(42, 75, 112);
          background: radial-gradient(
            circle,
            rgba(42, 75, 112, 1) 0%,
            rgba(43, 106, 176, 1) 50%,
            rgba(42, 75, 112, 1) 100%
          );
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 200px;
          text-align: center;
          transition: opacity 1s ease-in-out;
          border-radius: 10px;
          overflow: hidden;
        }

        li p:target {
          z-index: 2;
        }

        li p:not(:target) {
          opacity: 1;
        }
      }

      .moves-cont {
        height: 341px;
        overflow-y: scroll;
        border: solid 3px #23456c;
        border-radius: 15px;
        padding: 15px;

        .moves {
          height: 25px;

          .item-moves {
            background-color: #2b3767;
            border-radius: 50px;
            margin: 0 5px 5px 0;
            padding: 0 0 0 10px;
            font-size: 0.8em;
          }
        }
      }

      .stat-cont {
        background: #7981aa;
        border-radius: 50px;
        overflow: hidden;

        .stat-value {
          background: rgb(175, 228, 0);
          background: linear-gradient(
            90deg,
            rgba(175, 228, 0, 1) 0%,
            rgba(255, 173, 0, 1) 50%,
            rgba(255, 0, 0, 1) 100%
          );
          text-align: right;
          font-weight: bold;
          color: #fff;
          border-radius: 50px;
        }
      }

      .hd-image-cont {
        height: 201px;

        .cont {
          width: 90%;
          height: 100%;
          border: solid 3px #23456c;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 90%;
            height: 90%;
          }
        }
      }
    }
  }
}
